<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base ">


    <button (click)="addUser()" class="base-button w-40 linear-ic mb-5">Add User</button>

    @if (checkAll() && tabIndex()===0) {
    <button (click)="sendInvitations()" class="base-button w-40 linear-ic ml-5 mb-5">Send Invitations</button>
    }



    <mat-tab-group (selectedTabChange)="tabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Users">
            <table class="w-full text-sm text-left rtl:text-right text-body border border-default">
                <thead class="bg-neutral-secondary-soft border-b border-default linear-ic text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium flex flex-row item-center">
                            <input type="checkbox" class="accent-teal-800 scale-150" [checked]="checkAll()"
                                (change)="onCheckAll()" />
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            First Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Last Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Rol
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Last Login
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of users() | paginate:{
                    id:'users_pagination',
                    itemsPerPage: paginationControls.perPage,
                    currentPage: paginationControls.currentPage
                    }; track $index) {
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            <input type="checkbox" class="accent-teal-800 scale-150"
                                [disabled]="user.status!=='PENDING'" [checked]="user.selected"
                                (change)="checkOne(user.id)" />
                        </td>
                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            {{user.firstName}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.lastName}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.email}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.role}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.status}}
                        </td>
                        <td class="px-6 py-4">
                            @if (user.lastLoginAt) {
                            {{utils.formatDateTime(user.lastLoginAt)}}
                            }@else{
                            Not logged yet
                            }
                        </td>
                        <td class="px-6 py-4 flex flex-row justify-around">
                            @if (user.status==='PENDING') {
                            <svg (click)="editUser(user.id)" class="w-5 h-5 text-teal-800   cursor-pointer "
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round">
                                    </path>
                                </g>
                            </svg>

                            <svg (click)="sendInvitations(user.id)" class="w-5 h-5 text-teal-800   cursor-pointer "
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M10.3009 13.6949L20.102 3.89742M10.5795 14.1355L12.8019 18.5804C13.339 19.6545 13.6075 20.1916 13.9458 20.3356C14.2394 20.4606 14.575 20.4379 14.8492 20.2747C15.1651 20.0866 15.3591 19.5183 15.7472 18.3818L19.9463 6.08434C20.2845 5.09409 20.4535 4.59896 20.3378 4.27142C20.2371 3.98648 20.013 3.76234 19.7281 3.66167C19.4005 3.54595 18.9054 3.71502 17.9151 4.05315L5.61763 8.2523C4.48114 8.64037 3.91289 8.83441 3.72478 9.15032C3.56153 9.42447 3.53891 9.76007 3.66389 10.0536C3.80791 10.3919 4.34498 10.6605 5.41912 11.1975L9.86397 13.42C10.041 13.5085 10.1295 13.5527 10.2061 13.6118C10.2742 13.6643 10.3352 13.7253 10.3876 13.7933C10.4468 13.87 10.491 13.9585 10.5795 14.1355Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>

                            <svg (click)="deleteUser(user.id)" class="w-5 h-5 text-teal-800   cursor-pointer "
                                viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>delete [#1487]</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs> </defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)"
                                            fill="#000000">
                                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                                <path
                                                    d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z"
                                                    id="delete-[#1487]"> </path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            }
                        </td>
                    </tr>
                    }


                </tbody>
            </table>
            <div class="w-full flex flex-row justify-center mt-5">
                <pagination-controls id="users_pagination" (pageChange)="changePage($event)" [maxSize]="9"
                    [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous"
                    nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">

                </pagination-controls>
            </div>
        </mat-tab>
        <mat-tab label="Deleted Users">
            <table class="w-full text-sm text-left rtl:text-right text-body border border-default">
                <thead class="bg-neutral-secondary-soft border-b border-default linear-ic text-white">
                    <tr>
                        @if (tabIndex()===0) {
                        <th scope="col" class="px-6 py-3 font-medium flex flex-row item-center">
                            <input type="checkbox" class="accent-teal-800 scale-150" [checked]="checkAll()"
                                (change)="onCheckAll()" />
                        </th>
                        }

                        <th scope="col" class="px-6 py-3 font-medium">
                            First Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Last Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Rol
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Last Login
                        </th>
                        <th scope="col" class="px-6 py-3 font-medium">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of users() | paginate:{
                    id:'deleted_users_pagination',
                    itemsPerPage: paginationControls.perPage,
                    currentPage: paginationControls.currentPage
                    }; track $index) {
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                        @if (tabIndex()===0) {
                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            <input type="checkbox" class="accent-teal-800 scale-150"
                                [disabled]="user.status!=='PENDING'" [checked]="user.selected"
                                (change)="checkOne(user.id)" />
                        </td>
                        }

                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            {{user.firstName}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.lastName}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.email}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.role}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.status}}
                        </td>
                        <td class="px-6 py-4">
                            @if (user.lastLoginAt) {
                            {{utils.formatDateTime(user.lastLoginAt)}}
                            }@else{
                            Not logged yet
                            }
                        </td>
                        <td class="px-6 py-4 flex flex-row justify-around">
                            <svg  (click)="restoreUser(user.id)" fill="#000000" class="w-5 h-5 cursor-pointer" viewBox="0 0 64 64"
                                version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                                xmlns:serif="http://www.serif.com/"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <rect id="Icons" x="-192" y="-256" width="1280" height="800" style="fill:none;">
                                    </rect>
                                    <g id="Icons1" serif:id="Icons">
                                        <g id="Strike"> </g>
                                        <g id="H1"> </g>
                                        <g id="H2"> </g>
                                        <g id="H3"> </g>
                                        <g id="list-ul"> </g>
                                        <g id="hamburger-1"> </g>
                                        <g id="hamburger-2"> </g>
                                        <g id="list-ol"> </g>
                                        <g id="list-task"> </g>
                                        <g id="trash"> </g>
                                        <g id="vertical-menu"> </g>
                                        <g id="horizontal-menu"> </g>
                                        <g id="sidebar-2"> </g>
                                        <g id="Pen"> </g>
                                        <g id="Pen1" serif:id="Pen"> </g>
                                        <g id="clock"> </g>
                                        <g id="external-link"> </g>
                                        <g id="hr"> </g>
                                        <g id="info"> </g>
                                        <g id="warning"> </g>
                                        <g id="plus-circle"> </g>
                                        <g id="minus-circle"> </g>
                                        <g id="vue"> </g>
                                        <g id="cog"> </g>
                                        <g id="logo"> </g>
                                        <path
                                            d="M49.71,20.332l0,29.11c-0.043,3.347 -2.864,6.296 -6.277,6.427c-7.463,0.096 -14.927,0.002 -22.391,0.002c-3.396,-0.043 -6.385,-2.959 -6.429,-6.429l0,-29.11l-4.443,0l0,-4l9.106,0l0,-1.992c0.043,-3.347 2.865,-6.296 6.278,-6.428c3.071,-0.039 10.144,-0.039 13.215,0c3.346,0.129 6.234,3.013 6.277,6.428l0,1.992l9.106,0l0,4l-4.442,0Zm-4,0l-27.099,0c-0.014,9.72 -0.122,19.44 0.003,29.159c0.048,1.251 1.125,2.331 2.379,2.379c7.445,0.096 14.892,0.096 22.337,0c1.273,-0.049 2.363,-1.162 2.38,-2.454l0,-29.084Zm-11.545,28.938l-4.005,0l0,-19.109l-7.414,7.413l-2.832,-2.832l12.246,-12.246l0.001,0.001l0.001,-0.001l12.247,12.246l-2.833,2.832l-7.411,-7.411l0,19.107Zm6.845,-32.938c-0.014,-0.831 0,-1.973 0,-1.973c0,0 -0.059,-2.418 -2.344,-2.448c-3.003,-0.038 -10.007,-0.038 -13.01,0c-1.273,0.049 -2.363,1.163 -2.38,2.455l0,1.966l17.734,0Z"
                                            style="fill-rule:nonzero;"></path>
                                        <g id="radio-check"> </g>
                                        <g id="eye-slash"> </g>
                                        <g id="eye"> </g>
                                        <g id="toggle-off"> </g>
                                        <g id="shredder"> </g>
                                        <g id="spinner--loading--dots-" serif:id="spinner [loading, dots]"> </g>
                                        <g id="react"> </g>
                                        <g id="check-selected"> </g>
                                        <g id="turn-off"> </g>
                                        <g id="code-block"> </g>
                                        <g id="user"> </g>
                                        <g id="coffee-bean"> </g>
                                        <g id="coffee-beans">
                                            <g id="coffee-bean1" serif:id="coffee-bean"> </g>
                                        </g>
                                        <g id="coffee-bean-filled"> </g>
                                        <g id="coffee-beans-filled">
                                            <g id="coffee-bean2" serif:id="coffee-bean"> </g>
                                        </g>
                                        <g id="clipboard"> </g>
                                        <g id="clipboard-paste"> </g>
                                        <g id="clipboard-copy"> </g>
                                        <g id="Layer1"> </g>
                                    </g>
                                </g>
                            </svg>
                        </td>
                    </tr>
                    }


                </tbody>
            </table>
            <div class="w-full flex flex-row justify-center mt-5">
                <pagination-controls id="deleted_users_pagination" (pageChange)="changePage($event)" [maxSize]="9"
                    [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous"
                    nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">

                </pagination-controls>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>