<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base">

    <button (click)="addLocation()" class="base-button w-40 linear-ic mb-5">Add Location</button>

    <mat-tab-group (selectedTabChange)="tabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start">

        <mat-tab label="Active Locations">
            <table class="w-full text-sm text-left rtl:text-right text-body border border-default">
                <thead class="bg-neutral-secondary-soft border-b border-default linear-ic text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">Name</th>
                        <th scope="col" class="px-6 py-3 font-medium">Business Type</th>
                        <th scope="col" class="px-6 py-3 font-medium">State</th>
                        <th scope="col" class="px-6 py-3 font-medium">City</th>
                        <th scope="col" class="px-6 py-3 font-medium">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (location of locations(); track $index) {
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            {{ location.name }}
                        </td>
                        <td class="px-6 py-4">{{ location.businessType.replace('_', ' ') }}</td>
                        <td class="px-6 py-4">{{ location.state }}</td>
                        <td class="px-6 py-4">{{ location.city }}</td>
                        <td class="px-6 py-4 flex flex-row gap-4">

                            <!-- Edit -->
                            <svg (click)="editLocation(location.id)" class="w-5 h-5 cursor-pointer"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <!-- Deactivate -->
                            <svg (click)="toggleActive(location.id)" class="w-5 h-5 cursor-pointer"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="1" x2="23" y2="23" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
                            </svg>

                            <!-- Delete -->
                            <svg (click)="deleteLocation(location.id)" class="w-5 h-5 cursor-pointer"
                                viewBox="0 -0.5 21 21" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-179.000000, -360.000000)" fill="#000000">
                                            <g transform="translate(56.000000, 160.000000)">
                                                <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-tab>

        <mat-tab label="Inactive Locations">
            <table class="w-full text-sm text-left rtl:text-right text-body border border-default">
                <thead class="bg-neutral-secondary-soft border-b border-default linear-ic text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">Name</th>
                        <th scope="col" class="px-6 py-3 font-medium">Business Type</th>
                        <th scope="col" class="px-6 py-3 font-medium">State</th>
                        <th scope="col" class="px-6 py-3 font-medium">City</th>
                        <th scope="col" class="px-6 py-3 font-medium">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (location of locations(); track $index) {
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                        <td scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            {{ location.name }}
                        </td>
                        <td class="px-6 py-4">{{ location.businessType.replace('_', ' ') }}</td>
                        <td class="px-6 py-4">{{ location.state }}</td>
                        <td class="px-6 py-4">{{ location.city }}</td>
                        <td class="px-6 py-4 flex flex-row gap-4">

                            <!-- Activate -->
                            <svg (click)="toggleActive(location.id)" class="w-5 h-5 cursor-pointer"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <!-- Delete -->
                            <svg (click)="deleteLocation(location.id)" class="w-5 h-5 cursor-pointer"
                                viewBox="0 -0.5 21 21" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-179.000000, -360.000000)" fill="#000000">
                                            <g transform="translate(56.000000, 160.000000)">
                                                <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-tab>

    </mat-tab-group>

</div>
